.footer {
  display: flex;
  width: 100%;
  background: #0b335b;
  color: #fff;
}
.footer-container {
  display: flex;
  width: 100%;
  padding: 2.5rem;
}
.footer-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 0.5rem;
  width: 50%;
}
.footer-right {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  justify-content: center;
  width: 50%;
  align-items: flex-end;
}
.footer-logo-container {
  display: flex;
}
.footer-logo {
  display: flex;
  width: 10rem;
  height: 100%;
}
.footer-text {
  font-size: 14px;
}
