.register-icon {
  height: 4rem;
}
.register-container {
  color: #ffffff;
  width: 24rem;
  display: flex;
  flex-direction: column;
  height: fit-content;
  border-radius: 2rem;
  background-color: #0b335b;
  box-shadow: 0 0.5rem 2rem #6464648b;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 1000;
}
.register-header {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.register-header-text {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 2rem;
}
.register-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  row-gap: 0.5rem;
}
.register-input {
  border: 2px solid #ccc;
  background: #f2f3f5;
  box-shadow: 0 0 7px transparent;
  transition: all ease 0.3s;
}
.register-input:focus {
  background: #fff;
  border: 2px solid #0982cc;
  box-shadow: 0 0 7px #0982cc;
}
.register-form-button {
  margin-top: 1rem;
}
.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.5rem;
  position: relative;
}

.instructions > svg {
  margin-right: 0.5rem;
}

.register-hide {
  display: none;
}

.register-valid {
  color: limegreen;
  margin-left: 0.5rem;
}

.register-invalid {
  color: red;
  margin-left: 0.5rem;
}
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 1rem;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 50px #7ac142;
  }
}
