.register {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-content: center;
  align-items: center;
  transition: all ease 0.5s;
  overflow: hidden;
  background: #ececec;
  position: relative;
}
.register-icon {
  height: 4rem;
}
.register-container {
  color: #ffffff;
  width: 24rem;
  display: flex;
  flex-direction: column;
  height: fit-content;
  border-radius: 2rem;
  background-color: #0b335b;
  box-shadow: 0 0.5rem 2rem #6464648b;
  padding: 1.5rem;
  z-index: 1000;
}
.register-header {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  row-gap: 0.5rem;
}
.register-header-text {
  font-size: 25px;
  font-weight: bold;
}
.register-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  row-gap: 0.5rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.5rem;
  position: relative;
}

.instructions > svg {
  margin-right: 0.5rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.register-hide {
  display: none;
}

.register-valid {
  color: limegreen;
  margin-left: 0.5rem;
}

.register-invalid {
  color: red;
  margin-left: 0.5rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
  text-decoration: underline;
  color: #ffffff;
}
