.app-dashboard {
  margin: 0;
  padding: 0;
  color: #ffffff;
  overflow: overlay;
  background: linear-gradient(
    135deg,
    rgba(9, 32, 63, 1) 40%,
    rgba(83, 120, 149, 1) 100%
  );
}
.app-dashboard-container {
  display: flex;
}
