.app-dashboard {
  color: #ffffff;
  overflow: overlay;
  background: linear-gradient(
    135deg,
    rgba(9, 32, 63, 1) 40%,
    rgba(83, 120, 149, 1) 100%
  );
}
.app-dashboard-container {
  display: flex;
}
.p-accordion-header .p-highlight.p-accordion-header {
  outline: none;
}
@media all and (max-width: 600px) {
  .app-dashboard-container {
    height: -moz-available; /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  }
}
