.app-dashboard {
  color: #ffffff;
  overflow: overlay;
  background: linear-gradient(
    135deg,
    rgba(9, 32, 63, 1) 40%,
    rgba(83, 120, 149, 1) 100%
  );
}
.app-dashboard-container {
  display: flex;
}
.p-accordion-header .p-highlight.p-accordion-header {
  outline: none;
}
