.documentation {
  background-color: #f2f3f5;
  position: relative;
  height: 100%;
  width: 100vw;
  display: flex;
  overflow: hidden;
}
.documentation-header {
  height: 5rem;
  width: 100%;
}
.documentation-container {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.documentation-content-container {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
}
.documentation-content-container-scroll {
  display: flex;
  scroll-behavior: smooth !important;
  height: 100%;
  width: 100%;
  flex-direction: column;
  overflow-y: auto;
}
.documentation-content {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  border-bottom: 1px solid #ccc;
  scroll-margin-top: 5rem;
}
.documentation-content-wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.documentation-text {
  display: flex;
  width: 25rem;
  font-size: 18px;
}
.documentation-nav-container {
  display: flex;
  width: 100%;
  column-gap: 1rem;
}
.documentation-code {
  display: flex;
  flex-direction: column;
  row-gap: 0;
  width: 40rem;
  z-index: 0;
}
.documentation-code-header {
  font-weight: 500;
  width: 100%;
}
.syntax-highlighter {
  width: 100%;
  max-height: 22rem;
  margin: 0;
}
.documentation-sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 375px;
  background-color: #fff;
  border-right: 1px solid #ccc;
}
.documentation-sidebar-container {
  padding: 2rem;
  height: 100%;
}
.documentation-nav {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  text-decoration: none;
}
.documentation-content-header {
  display: flex;
  font-size: 30px;
  color: #0b335b;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.documentation-register-header {
  display: flex;
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.documentation-content-header-text {
  display: flex;
  height: fit-content;
  width: 25rem;
  align-items: center;
  font-size: 18px;
  column-gap: 1rem;
  color: black;
}
.documentation-nav-text {
  display: flex;
  height: fit-content;
  width: fit-content;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  opacity: 0.9;
  color: black;
  transition: all ease 0.2s;
}
.documentation-nav-text:hover {
  padding-left: 1rem;
}
.request-type-get {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px rgb(30, 144, 255);
  height: fit-content;
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  border-radius: 5px;
  font-size: 14px;
  background-color: rgba(30, 144, 255, 0.15);
  font-weight: 500;
  color: rgb(30, 144, 255);
}
.documentation-register {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-bottom: 2rem;
  column-gap: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background: url(../../../../assets/API-banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.documentation-register-text {
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
  font-size: 18px;
  font-weight: 400;
  opacity: 0.9;
  color: #fff;
}
.documentation-register-button {
  display: grid;
  width: fit-content;
  margin-top: 1rem;
  margin-bottom: 1rem;
  grid-template-areas:
    "icon"
    "button";
  flex-direction: column;
  align-items: center;
}
#documentation-register-icon {
  display: flex;
  grid-area: icon;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(20px);
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
#register-button-container {
  grid-area: button;
}
#register-button-container:hover + #documentation-register-icon {
  opacity: 1;
  transform: translateY(0px);
}

.key-icon {
  display: flex;
  height: 2.5rem;
}
.register-button {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-top: 1rem;
  font-size: 18px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  background-color: #fff;
  color: #0b335b;
  font-weight: 500;
  z-index: 1000;
}
.documentation-top {
  position: absolute;
  top: 90vh; // How far should the scroll travel prior to the link appearing
  right: 2rem;
  bottom: 0;
  width: 3em;
  z-index: 1000;
}
.top-button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #fff;
  position: fixed;
  top: calc(100vh - 5rem);
  text-align: center;
  width: 3rem;
  height: 3rem;
  border-radius: 10%;
  padding: 0.25rem;
  background-color: rgba(0, 0, 0, 0.29);
}
.documentation-nav-logo-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 3rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}
.documentation-nav-logo {
  display: flex;
  width: 10rem;
  height: 100%;
}
