.documentation {
  background-color: #f2f3f5;
  position: relative;
  height: 100%;
  width: 100vw;
  display: flex;
  overflow: hidden;
}
.documentation-header {
  height: 5rem;
  width: 100%;
}
.documentation-container {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.documentation-content-container {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
}
.documentation-content-container-scroll {
  display: flex;
  scroll-behavior: smooth !important;
  height: 100%;
  width: 100%;
  flex-direction: column;
  overflow-y: auto;
}
.documentation-content {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
  scroll-margin-top: 5rem;
  row-gap: 1rem;
}
.documentation-content-top {
  display: flex;
  width: 100%;
}

.documentation-content-wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.documentation-text {
  display: flex;
  width: 25rem;
  font-size: 18px;
}

.documentation-code {
  display: flex;
  flex-direction: column;
  row-gap: 0;
  width: 40rem;
  z-index: 0;
}
.documentation-code-header {
  font-weight: 500;
  width: 100%;
}
.syntax-highlighter {
  width: 100%;
  max-height: 22rem;
  min-height: 12rem;
  margin: 0;
}
.documentation-sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 350px;
  min-width: 350px;
  background-color: #fff;
  border-right: 1px solid #ccc;
}
.documentation-sidebar-container {
  padding: 2rem;
  height: 100%;
}
.documentation-nav {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  text-decoration: none;
}
.documentation-nav-container {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.5rem;
  display: flex;
  align-items: center;
  width: 100%;
  column-gap: 1rem;
  transition: all ease 0.2s;
  border-left: 2px solid transparent;
}
.documentation-content-header {
  display: flex;
  font-size: 30px;
  color: #0b335b;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.documentation-register-header {
  display: flex;
  font-size: 30px;
  color: #fff;
  column-gap: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.documentation-content-header-text {
  display: flex;
  height: fit-content;
  width: 25rem;
  align-items: center;
  font-size: 18px;
  column-gap: 1rem;
  color: black;
}
.documentation-nav-text {
  display: flex;
  height: fit-content;
  width: fit-content;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  opacity: 0.7;
  color: black;
  transition: all ease 0.2s;
}
.documentation-nav-container:hover {
  padding-left: 1rem;
  border-left: 2px solid #ccc;
}
.documentation-nav-container:hover .documentation-nav-text {
  opacity: 1;
}
.request-type-get {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px rgb(30, 144, 255);
  height: fit-content;
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  border-radius: 5px;
  font-size: 14px;
  background-color: rgba(30, 144, 255, 0.15);
  font-weight: 500;
  color: rgb(30, 144, 255);
}
.documentation-register {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-bottom: 2rem;
  column-gap: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background: url(../../../../assets/API-banner.png);
  background-color: #0b335b;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.documentation-register-text {
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
  font-size: 18px;
  font-weight: 400;
  opacity: 0.9;
  color: #fff;
}
.documentation-register-button {
  display: grid;
  width: fit-content;
  margin-top: 1rem;
  margin-bottom: 1rem;
  grid-template-areas:
    "icon"
    "button";
  flex-direction: column;
  align-items: center;
}
#documentation-register-icon {
  display: flex;
  grid-area: icon;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(20px);
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
#register-button-container {
  grid-area: button;
  z-index: 1000;
}
#register-button-container:hover + #documentation-register-icon {
  opacity: 1;
  transform: translateY(0px);
}

.key-icon {
  display: flex;
  height: 2.5rem;
}
.register-button {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-top: 1rem;
  font-size: 18px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  background-color: #fff;
  color: #0b335b;
  font-weight: 500;
  z-index: 1000;
}
.documentation-top {
  position: absolute;
  top: 90vh; // How far should the scroll travel prior to the link appearing
  right: 2rem;
  bottom: 0;
  width: 3em;
  z-index: 1000;
}
.top-button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #fff;
  position: fixed;
  top: calc(100vh - 5rem);
  text-align: center;
  width: 3rem;
  height: 3rem;
  border-radius: 10%;
  padding: 0.25rem;
  background-color: rgba(0, 0, 0, 0.29);
}
.documentation-nav-logo-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 3rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}
.documentation-nav-logo {
  display: flex;
  width: 10rem;
  height: 100%;
}
.documentation-content-bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}
.documentation-tryitout-header {
  display: flex;
  font-size: 20px;
  font-weight: Bold;
  color: #0b335b;
}
.documentation-tryitout-content {
  display: flex;
  padding: 1rem;
  background-color: #f9f9f9;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  width: 65rem;
}
.documentation-tryitout-form {
  margin-top: 1rem;
  display: flex;
  width: 40rem;
}
.tryitout-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  row-gap: 0.5rem;
}
.documentation-tryitout-results {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.tryitout-button {
  background-color: #0b335b;
  opacity: 1;
  color: #fff;
  margin-top: 0.5rem;
  transition: all ease 0.2s;
}
.tryitout-button:hover {
  opacity: 0.9;
}
.accordion-header {
  display: flex;
  height: fit-content;
  width: 65rem;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid #0b335b;
  background: linear-gradient(135deg, #0b335b, #0982cc 90%);
  opacity: 1;
  transition: all ease 0.2s;
}
.accordion-header:hover {
  opacity: 1;
}
.accordion-header:hover a {
  opacity: 1;
}
.accordion-header a {
  display: flex;
  width: 100%;
  padding: 1rem;
  font-size: 18px;
  font-weight: 500;
  column-gap: 0.5rem;
  text-decoration: none;
  color: #fff;
  transition: all ease 0.2s;
  opacity: 1;
}
.accordion-content {
  display: flex;
}
.tryitout-border {
  border: 1px solid #ccc;
}
