.api-navbar {
  background-color: #0b335b;
  position: absolute;
  color: #fff;
  box-shadow: 0 0.2rem 1rem #4646468b;
  width: 100vw;
  height: 5rem;
  padding: 0;
  align-items: center;
  align-content: center;
  z-index: 1000;
}
.api-navbar-container {
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 100%;
  width: 100%;
  align-items: center;
}
.api-navbar-icon {
  display: flex;
  width: 20%;
}
.api-navbar-finfetch-icon {
  height: 3rem;
}
.api-navbar-links {
  column-gap: 1rem;
  height: 100%;
  display: flex;
  width: 80%;
  justify-content: flex-end;
  padding-top: 2px;
}
.api-navbar-links .active {
  .api-register-button {
    border-bottom: 2px solid #ffffff;
    opacity: 1;
  }
  .api-documentation-button {
    border-bottom: 2px solid #ffffff;
    opacity: 1;
  }
  .api-login-button {
    border-bottom: 2px solid #ffffff;
    opacity: 1;
  }
  .api-account-button {
    border-bottom: 2px solid #ffffff;
    opacity: 1;
  }
}
.api-register-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  height: 100%;
  width: 6rem;
  opacity: 0.9;
  border-bottom: 2px solid transparent;
}
.api-documentation-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  height: 100%;
  width: 6rem;
  opacity: 0.9;
  border-bottom: 2px solid transparent;
}
.api-account-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  height: 100%;
  width: 6rem;
  opacity: 0.9;
  border-bottom: 2px solid transparent;
}
.api-login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  height: 100%;
  width: 6rem;
  opacity: 0.9;
  border-bottom: 2px solid transparent;
}
.api-logout-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  height: 100%;
  width: 6rem;
  opacity: 0.9;
  border-bottom: 2px solid transparent;
}
.api-logout-button:hover {
  cursor: pointer;
}
