.api-navbar {
  background-color: #0b335b;
  position: absolute;
  color: #fff;
  box-shadow: 0 0.2rem 1rem #4646468b;
  width: 100vw;
  height: 5rem;
  padding: 0;
  align-items: center;
  align-content: center;
}
.api-navbar-container {
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 100%;
  width: 100%;
  align-items: center;
}
.api-navbar-icon {
  display: flex;
  width: 75%;
}
.api-navbar-finfetch-icon {
  height: 3rem;
}
.api-navbar-links {
  column-gap: 3rem;
  display: flex;
  width: 25%;
  justify-content: flex-end;
  align-items: center;
}
.api-register-button {
  color: #fff;
  font-size: 18px;
}
.api-login-button {
  background-color: transparent;
  border: solid 2px #fff;
  border-radius: 25px;
  color: #fff;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;

  font-size: 18px;
}
