.api-navbar {
  background-color: #0b335b;
  position: absolute;
  color: #fff;
  box-shadow: 0 0.2rem 1rem #4646468b;
  width: 100vw;
  height: 5rem;
  padding: 0;
  align-items: center;
  align-content: center;
  z-index: 1000;
}
.api-navbar-container {
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 100%;
  width: 100%;
  align-items: center;
}
.api-navbar-icon {
  display: flex;
  width: 20%;
}
.api-navbar-finfetch-icon {
  height: 3rem;
  transition: all ease 0.3s;
  align-items: center;
  justify-content: center;
}
.api-navbar-finfetch-icon:hover {
  height: 3.2rem;
}
.api-navbar-links {
  column-gap: 1rem;
  height: 100%;
  display: flex;
  width: 80%;
  justify-content: flex-end;
}
.api-navbar-links .active {
  .api-nav-button {
    border-bottom: 3px solid #ffffff;
    opacity: 1;
    transition: all ease 0.25s;
    padding-top: 3px;
  }
}
.api-nav-button {
  padding-top: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  height: 100%;
  width: 6rem;
  opacity: 0.8;
  border-bottom: 3px solid transparent;
}
.api-nav-button:hover {
  opacity: 1;
}

.api-logout-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  height: 100%;
  width: 6rem;
  opacity: 0.8;
  border-bottom: 3px solid transparent;
}
.api-logout-button:hover {
  cursor: pointer;
}
