::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #fff;
  /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: #a9a9a9c2; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}
* {
  box-sizing: border-box;
  outline: none;
}
body,
html {
  margin: 0;
  overflow: overlay;
}
.form-input {
  border: none;
  font-size: 16px;
  padding: 0.5rem;
}
.form-label {
  font-size: 14px;
}
.form-button {
  padding: 0.5rem;
  margin-top: 1rem;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  color: #0b335b;
  font-weight: 500;
  cursor: pointer;
}
.form-button:disabled {
  cursor: auto;
  pointer-events: all !important;
}
.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.offscreen {
  position: absolute;
  left: -9999px;
}
.bg-animation {
  position: absolute;
  transform: rotate(45deg);
  height: 100%;
  width: 100%;
}
.bg-layer-1 {
  position: absolute;
  background-color: #fff;
  opacity: 0.1;
  width: 400%;
  height: 400%;
  animation: diagonal-1 9s ease-in-out infinite alternate;
}
.bg-layer-2 {
  position: absolute;
  background-color: #fff;
  opacity: 0.1;
  width: 400%;
  height: 400%;
  animation: diagonal-2 10s ease-in-out infinite alternate;
}
.bg-layer-3 {
  position: absolute;
  background-color: #0b335b;
  opacity: 0.1;
  width: 400%;
  height: 400%;
  animation: diagonal-1 9s ease-in-out infinite alternate;
}
.bg-layer-4 {
  position: absolute;
  background-color: #0b335b;
  opacity: 0.1;
  width: 400%;
  height: 400%;
  animation: diagonal-2 10s ease-in-out infinite alternate;
}

@keyframes diagonal-1 {
  0% {
    transform: translate(850px, -1200px);
  }

  100% {
    transform: translate(1000px, -1200px);
  }
}
@keyframes diagonal-2 {
  0% {
    transform: translate(900px, -1200px);
  }

  100% {
    transform: translate(1110px, -1200px);
  }
}
