::-webkit-scrollbar {
  height: 8px;
  width: 8px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background-color: transparent;
  /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: #c5c5c5; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}
* {
  box-sizing: border-box;
  outline: none;
}
body,
html {
  margin: 0;
  overflow: overlay;
  scroll-behavior: smooth !important;
}
html:focus-within {
  scroll-behavior: smooth;
}
.form-input {
  border: none;
  font-size: 16px;
  padding: 0.5rem;
}
.form-label {
  font-size: 14px;
}
.form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  padding: 0.7rem;
  margin-top: 1rem;
  font-size: 18px;
  border-radius: 25px;
  border: none;
  color: #0b335b;
  font-weight: bold;
  cursor: pointer;
}
.form-button:disabled {
  cursor: auto;
  pointer-events: all !important;
}
.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.offscreen {
  position: absolute;
  left: -9999px;
}
#confirmnote {
  margin-bottom: 0;
}
.bg-animation {
  position: absolute;
  transform: rotate(45deg);
  height: 100%;
  width: 100%;
}
.line {
  display: inline-block;
  text-decoration: underline;
  color: #ffffff;
}
.bg-layer-1 {
  position: absolute;
  background-color: #fff;
  opacity: 0.1;
  width: 400%;
  height: 400%;
  animation: diagonal-1 9s ease-in-out infinite alternate;
}
.bg-layer-2 {
  position: absolute;
  background-color: #fff;
  opacity: 0.1;
  width: 400%;
  height: 400%;
  animation: diagonal-2 10s ease-in-out infinite alternate;
}
.bg-layer-3 {
  position: absolute;
  background-color: #0b335b;
  opacity: 0.1;
  width: 400%;
  height: 400%;
  animation: diagonal-1 9s ease-in-out infinite alternate;
}
.bg-layer-4 {
  position: absolute;
  background-color: #0b335b;
  opacity: 0.1;
  width: 400%;
  height: 400%;
  animation: diagonal-2 10s ease-in-out infinite alternate;
}
.loading-horizontal {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.loading-horizontal span {
  display: inline-block;
  vertical-align: middle;
  width: 0.6rem;
  height: 0.6rem;
  margin: 0.35rem;
  background: #fff;
  border-radius: 0.6rem;
  animation: loading-horizontal 1s infinite alternate;
}
.loading-horizontal span:nth-of-type(2) {
  background: #fff;
  animation-delay: 0.2s;
}
.loading-horizontal span:nth-of-type(3) {
  background: #fff;
  animation-delay: 0.4s;
}
.loading-horizontal span:nth-of-type(4) {
  background: #fff;
  animation-delay: 0.6s;
}
.loading-horizontal span:nth-of-type(5) {
  background: #fff;
  animation-delay: 0.8s;
}
.loading-horizontal span:nth-of-type(6) {
  background: #fff;
  animation-delay: 1s;
}
.loading-horizontal span:nth-of-type(7) {
  background: #fff;
  animation-delay: 1.2s;
}

@keyframes diagonal-1 {
  0% {
    transform: translate(850px, -1200px);
  }

  100% {
    transform: translate(1000px, -1200px);
  }
}
@keyframes diagonal-2 {
  0% {
    transform: translate(900px, -1200px);
  }

  100% {
    transform: translate(1110px, -1200px);
  }
}
@keyframes loading-horizontal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
